<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
</style>
</head>
<body>

<h2>Requests</h2>

{% for request in all_requests %}
    <button type="button" class="collapsible">
        <pre>
        {{ request.origin_ip }} - [{{ request.timestamp }}] {{ request.scheme }}/{{ request.http_version }} {{ request.method }} {{ request.path }} 
        </pre>
    </button>
    <div class="content">
        <table>
            <tr>
                <th>Headers</th>
                <th>Body</th>
            </tr>
            <tr>
                <td><pre>{{ request.headers }}</pre></td>
                <td><pre>{{ request.body }}</pre></td>
            </tr>
        </table>
    </div>
{% endfor %}

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>


</body>
</html>
